name: Continuous Integration on Pull Request
on:
  pull_request:
    branches: [staging, master]
  push:
    branches: [staging, master]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use right version of golang
        uses: actions/setup-go@v2
        with:
          node-version: "^1.17.4"
      - name: Execute test
        run: make test/ci
      - name: Copy SonarCloud file config
        run: cp ./deploy/sonar-project.properties ./sonar-project.properties
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use right version of golang
        uses: actions/setup-go@v2
        with:
          node-version: "^1.17.4"
      - name: Install dependencies
        run: go build -o /build
      - name: Verify build
        run: npm run build -- --noEmit
